body {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    font-family: sans-serif;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url("../img/bgatv.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: cover;
}

.tudo {
    height: 100%;
    display: flex;
    justify-content: space-between;
}