body {
    align-items: baseline;
    font-family: sans-serif;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url("../img/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: cover;
}

.tudo {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.cabecalho {
    top: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    width: 100vw;
    height: 8vh;
    background-color: rgb(117, 191, 66);
}

.titulo {
    padding: 6px;
    padding-left: 20px;
}

.ano {
    width: 116px;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: rgb(164, 214, 133);
}

.subtitulo {
    font-size: 18px;
    display: flex;
    width: 26vw;
    height: 8vh;
    border: 4px solid rgb(164, 214, 133);
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin: auto;
    margin-left: 10px;
    background-color: rgb(117, 191, 66);
    font-weight: bold;
    max-width: 172px;
    max-height: 49px;
    margin-bottom: 0px;
}

.presentation-area-iframe {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 65%;
    margin: auto;
    border: 4px solid rgb(164, 214, 133);
    border-radius: 16px;
    background-color: rgba(0, 121, 10, 0.7);
}


/* .left-outscreen-translated {
    -webkit-transform: translateX(-200%) !important;
    transform: translateX(-200%) !important;
} */

.rodape {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 8vh;
    background-color: rgb(117, 191, 66);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 21vw;
    height: 8vh;
}

.logo svg {
    width: 50%;
    height: calc(100% - 10px);
    padding: 10px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 21vw;
    height: -webkit-fill-available;
    border-radius: 50px;
    background-color: rgb(164, 214, 133);
    font-size: 36px;
    font-weight: bold;
}

.navbar svg {
    width: 45px;
    cursor: pointer;
}

.navbar .previousPage svg {
    transform: rotate(180deg);
}

.navbar .previousPage svg:hover {
    color: rgb(163, 163, 163) !important;
    width: 43px;
    transition: 0.3s;
}

.navbar .nextPage svg:hover {
    color: rgb(163, 163, 163) !important;
    width: 43px;
    transition: 0.3s;
}

.paginaTotal {
    display: flex;
    font-size: 24px;
    height: 100%;
    padding-top: 13px;
}

.icones {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 21vw;
    height: 8vh;
}

.btnCirculo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    border: 4px solid rgb(76, 161, 83);
    background-color: #005d8c;
    border-radius: 50px;
    margin-bottom: 48px;
    z-index: 1;
}

.btnCirculo.btnmenu {
    background-color: white !important;
}

.btnCirculo.btnmenu:hover {
    background-color: rgb(160, 160, 160) !important;
    transition: 0.3s;
}

.btnCirculo svg {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.contentMenu {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: all ease-out 0.7s;
    transition: all ease-out 0.7s;
    /* padding: 12px; */
}

.menu {
    position: absolute;
    /* display: flex; */
    width: 40%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 4px solid rgb(164, 214, 133);
    border-right: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    right: 0;
    align-self: center;
}

.right-outscreen-translated {
    -webkit-transform: translateX(+200%) !important;
    transform: translateX(+200%) !important;
}

.menu .cabecalhoIndice {
    /* position: absolute; */
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    /* width: 100%; */
    height: 15%;
    background-color: rgb(117, 191, 66);
    border-bottom: 4px solid rgb(164, 214, 133);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 0px;
    padding-right: 30px;
    padding-left: 30px;
    font-weight: bold;
    font-size: 28px;
}

.menu .cabecalhoIndice button {
    color: rgb(117, 191, 66);
    font-size: 26px;
    font-weight: bold;
    width: 45px;
    height: 45px;
    border: 4px solid rgb(164, 214, 133);
    border-radius: 50px;
    background-color: white;
    cursor: hand;
    outline: none;
}

.menu .cabecalhoIndice button:hover {
    background-color: rgb(247, 57, 57);
    color: white;
    transition: 0.6s;
}

.menu .coluna {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    width: 45%;
    height: 80%;
    float: left;
    margin-left: 8px;
    margin-top: 8px;
}

.menu .coluna.right {
    margin-right: 8px;
    margin-left: 0px;
    float: right;
}

.menu .coluna .indiceBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    cursor: hand;
    outline: none;
}

.menu .coluna .indiceBtn:hover {
    background-color: rgba(160, 160, 160, 0.7);
    /* border: 1px solid rgb(83, 83, 83); */
    /* border-radius: 10px; */
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: all ease-out 0.7s;
    transition: all ease-out 0.7s;
}

.menu .coluna .indiceBtn .indiceCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 12px;
    width: 40px;
    height: 40px;
    border: 4px solid rgb(164, 214, 133);
    border-radius: 50px;
    background-color: rgb(117, 191, 66);
}

.menu .coluna .indiceBtn .indiceCircle:hover {
    border: 4px solid rgb(117, 191, 66);
    background-color: rgb(164, 214, 133);
}

@media screen and (max-device-width: 1440px) and (max-device-height: 900px) {
    .cabecalho {
        font-size: 18px;
    }
    .rodape {
        font-size: 18px;
    }
    .paginaTotal {
        font-size: 14px;
    }
    .navbar {
        font-size: 26px;
        width: 22vw;
        max-width: 200px;
    }
    .navbar svg {
        width: 30px;
    }
    .presentation-area {
        font-size: 16px;
    }
    .btnCirculo {
        width: 58px;
        height: 56px;
    }
    .click-texto button img {
        width: 40px;
    }
    .menu .cabecalhoIndice {
        font-size: 16px;
    }
    .menu .cabecalhoIndice button {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }
    .menu .coluna .indiceBtn {
        font-size: 10px;
    }
    .menu .coluna .indiceBtn .indiceCircle {
        width: 30px;
        height: 30px;
    }
}