/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    font-family: sans-serif;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url("../img/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: cover;
}

.quadradoVerde {
    font-size: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    /* width: 100%;
    height: 100%; */
    width: 80%;
    height: 65%;
    margin: auto;
    border: 4px solid rgb(164, 214, 133);
    border-radius: 16px;
    background-color: rgba(0, 121, 10, 0.7);
}

.subtitulo {
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 26vw;
    height: 8vh;
    border: 4px solid rgb(164, 214, 133);
    border-radius: 16px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 10px;
    margin: auto;
    margin-left: 10px;
    margin-top: 2vh;
    background-color: rgb(117, 191, 66);
    font-weight: bold;
    max-width: 172px;
    max-height: 49px;
    margin-bottom: 0px;
}

.presentation-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.presentation-area .click-texto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
}

.presentation-area button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

button {
    background-color: transparent;
    border: 0;
    outline: 0 !important;
    cursor: pointer;
}

.click-texto button img {
    width: 50px;
}

.presentation-area .click-texto .click-anim svg {
    color: rgb(47, 153, 5);
    width: 30px;
    height: auto;
}

.content {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: all ease-out 1s;
    -o-transition: all ease-out 1s;
    transition: all ease-out 1s;
    padding: 12px;
}

.left-outscreen-translated {
    -webkit-transform: translateX(-200%) !important;
    -ms-transform: translateX(-200%) !important;
    transform: translateX(-200%) !important;
}

@media screen and (max-device-width: 1440px) and (max-device-height: 900px) {
    .presentation-area {
        font-size: 16px;
    }
    .click-texto button img {
        width: 40px;
    }
}
