.quadradoVerdeAtv {
    justify-content: center;
}

.pontos {
    left: 65%;
    top: 19%;
    position: absolute;
    font-size: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* width: 100%;
    height: 100%; */
    width: 15%;
    height: 10%;
    border: 0.6vh solid rgb(164, 214, 133);
    border-radius: 16px;
    background-color: rgba(0, 121, 10, 1);
    /* padding: 1vh; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.enunciado {
    font-size: 5vh;
}

.pontos span {
    margin-right: 3vh;
}

.perguntaEresposta {
    margin: auto;
    margin-left: 0;
    margin-top: 1%;
    /* width: 73%; */
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 4vh;
}

.alternativa {
    font-size: 3vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    /* justify-content: center; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: hand;
}

.circuloAlternativa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 0.8vh solid rgb(164, 214, 133);
    border-radius: 16vh;
    width: 6vh;
    height: 6vh;
    margin-right: 2vh;
    background: rgb(255, 255, 255);
    background: -webkit-radial-gradient(circle, rgba(255, 255, 255, 1) 36%, rgba(40, 40, 40, 1) 78%);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 36%, rgba(40, 40, 40, 1) 78%);
}

.circuloAlternativa img {
    width: 7vh;
    height: 7vh;
}

.setinhaQuadradoVerde {
    right: 8%;
    top: 57%;
}

.robo {
    position: absolute;
    left: 80%;
    top: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: roboY 3s ease infinite;
}

.robo img {
    width: 17vh;
}

.fogo {
    width: 47px;
    height: 57px;
    transform: scaleX(1.5);
    background-image: url("../img/fogo.png");
    animation: roboAnimY 0.38s steps(3) infinite, roboAnimX calc(15 * 0.38s) steps(5) infinite;
}

@keyframes roboAnimX {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: -235px;
    }
}

@keyframes roboAnimY {
    0% {
        background-position-y: 0px;
    }
    100% {
        background-position-y: -171px;
    }
}

.cara {
    /* display: flex; */
    position: absolute;
    width: 68%;
    height: 7vh;
    /* border: solid 1px green; */
    top: 10%;
    display: flex;
    justify-content: center;
    /* background-image: url('../img/excla.png'); */
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -8vh;
    /* transition-duration: 1s; */
}

.cara img {
    width: 80%;
    height: -webkit-fill-available;
    background-repeat: no-repeat;
}

.caraErro1 {
    background-image: url('../img/excla.png');
    background-position-y: 0vh;
    background-position: center;
    transition-duration: 0.15s;
    background-size: contain;
}

.caraErro2 {
    background-image: url('../img/cara1.png');
    background-position-y: 0vh;
    background-position: center;
    background-size: contain;
    transition-duration: 0.15s;
}

.caraErro3 {
    background-image: url('../img/atencao.png');
    background-position-y: 0vh;
    background-position: center;
    transition-duration: 0.15s;
    background-size: contain;
}

.caraErro4 {
    background-image: url('../img/pense.png');
    background-position-y: 0vh;
    background-position: center;
    transition-duration: 0.15s;
    background-size: contain;
}

.caraAcerto1 {
    background-image: url('../img/acertouRobo.png');
    background-position-y: 0vh;
    background-position: center;
    transition-duration: 0.15s;
    background-size: contain;
}

.caraAcerto2 {
    background-image: url('../img/mosca.png');
    background-position: center;
    background-position-y: 0vh;
    transition-duration: 0.15s;
    background-size: contain;
}

.desceCara {
    background-position-y: 8vh;
    transition-duration: 0.15s;
}

@keyframes roboY {
    0% {
        transform: translateY(54px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(54px);
    }
}