button {
    background-color: transparent;
    border: 0;
    outline: 0 !important;
    cursor: pointer;
}

.presentation-area .click-texto .click-anim svg {
    color: rgb(47, 153, 5);
    width: 30px;
    height: auto;
}

.content {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: all ease-out 1s;
    -o-transition: all ease-out 1s;
    transition: all ease-out 1s;
    padding: 12px;
}

.left-outscreen-translated {
    -webkit-transform: translateX(-200%) !important;
    -ms-transform: translateX(-200%) !important;
    transform: translateX(-200%) !important;
}

@media screen and (max-device-width: 1440px) and (max-device-height: 900px) {
    /* .presentation-area {
        font-size: 16px;
    }
    .click-texto button img {
        width: 40px;
    } */
}