/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    font-family: sans-serif;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

button {
    background-color: transparent;
    border: 0;
    outline: 0!important;
    cursor: pointer;
}

.calculosPai {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.linha .conta.obs {
    font-size: 3.3vh !important;
}

.calculosPai .calculos {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.calculosPai .calculos .linha {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.calculosPai .calculos .linha .conta {
    font-weight: bold;
    font-size: 24px;
}

.presentation-area .click-texto .click-anim svg {
    color: rgb(47, 153, 5);
    width: 30px;
    height: auto;
}

.left-outscreen-translated {
    -webkit-transform: translateX(-600%) !important;
    -ms-transform: translateX(-600%) !important;
    transform: translateX(-600%) !important;
}

@media screen and (max-device-width: 1440px) and (max-device-height: 900px) {
    .presentation-area {
        font-size: 16px;
    }
    .click-texto button img {
        width: 40px;
    }
}