/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.presentation-area {
    font-size: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    /* margin: auto; */
}

.tudo {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    margin: auto;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: row;
    -ms-flex: row;
    flex: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.tamanhaoCOlunas {
    width: 34%;
    height: 100%;
}

.parcela {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.colunaTextos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 122px;
    font-weight: bold;
    color: white;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    background-color: red;
}

.colunaTextosSetas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    /* white-space: pre-line; */
}

.colunaLastTexto {
    /* background-color: green; */
}

.invisivel {
    width: 100%;
    background-color: salmon;
    height: 10%;
}

button {
    background-color: transparent;
    border: 0;
    outline: 0!important;
    cursor: pointer;
}

.calculosPai {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.calculosPai .tipo {
    float: left;
    margin-bottom: 10px;
    font-weight: bold;
}

.calculosPai .enunciado {
    float: left;
    margin-bottom: 10px;
}

.calculosPai .calculos {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.calculosPai .calculos .linha {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.textoSeta {
    font-size: 18px;
}

.presentation-area .click-texto .click-anim svg {
    color: rgb(47, 153, 5);
    width: 30px;
    height: auto;
}

.left-outscreen-translated {
    -webkit-transform: translateX(-50%) !important;
    transform: translateX(-50%) !important;
    z-index: -1;
    color: rgba(0, 0, 0, 0);
}


/* @media screen and (max-device-width: 1599) and (max-device-height: 899px) {
    .presentation-area {
        font-size: 16px;
    }
    
    .click-texto button img {
        width: 32px;
    }
    .colunaFracoes {
        justify-content: center;
        font-size: 92px;
    }
    .click-texto img {
        width: 32px;
    }
    .content {
        font-size: 18px;
    }
    .parcelaSeta2 {
        height: 70%;
    }
    .invisivel {
        width: 100%;
        height: calc(70% - 2px);
    }
    .colunaTextosSetas {
        white-space: nowrap;
    }
} */

@media screen and (max-device-width: 1440px) and (max-device-height: 900px) {
    /* .presentation-area {
        font-size: 16px;
    }
    .click-texto button img {
        width: 32px;
    }
    .colunaFracoes {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 90px;
    }
    .click-texto img {
        width: 32px;
    }
    .content {
        font-size: 18px;
    }
    .parcelaSeta2 {
        height: 27%;
    }
    .invisivel {
        width: 100%;
        height: calc(70% - 2px);
    }
    .colunaTextosSetas {
        white-space: nowrap;
    } */
}